---
import CardAbout from "../CardAbout.astro";
import Carrusel from "../Carrusel.astro";
import CoreValuesSection from "../CoreValuesSection.astro"
---

<!-- Seccion principal del about -->
<section id="about">
  <CardAbout />
  <CoreValuesSection />
  <Carrusel />
</section>

