---
import CardAbout from "../CardAbout.astro";
import Carrusel from "../Carrusel.astro";
import Badge from "../Badge.astro";
import TextCard from "../textCard.astro";
import { badges } from '../../mocks/badges';
---

<!-- Seccion principal del about -->
<section id="about">
  <CardAbout />
</section>

<!-- Vision y Mision -->
<section
  class="px-5 py-10 bg-primary flex-col justify-start items-start gap-8 inline-flex overflow-hidden
  xlg:px-[80px] xlg:py-14 xlg:flex-col xlg:justify-start xlg:items-start xlg:gap-6 xlg:inline-flex xlg:overflow-hidden
  xxl:px-[140px] xxl:py-20 xxl:flex-col xxl:justify-start xxl:items-start xxl:gap-8 xxl:inline-flex xxl:overflow-hidden"
>
  <!-- Contenedor misión/visión-->
  <div
    class="text-center xlg:flex xlg:gap-6 xxl:flex xxl:gap-8 xlg:text-start xxl:text-start"
  >
    <!-- Misión -->
    <TextCard
      title="MISIÓN"
      text="Ofrecer un servicio exclusivo que permita cumplir las necesidades de los clientes y reflejar las cualidades propias de los espacios. Generando valor para el cliente, algo que conseguimos gracias a la calidad<br/>y excelencia de nuestros servicios. Poniendo a su disposición nuestro equipo técnico y profesional rigurosamente seleccionado, formado y especializado."
      titleStyles="text-white"
      textStyles="text-white"
    />
    <!-- Visión -->
    <TextCard
      title="VISIÓN"
      text="Ser líder en la prestación de servicios integrales de jardinería para favorecer y mejorar las condiciones de vida de cada lugar. Contribuir al desarrollo sustentable de las ciudades, recuperando y generando áreas verdes habitables y estéticas que contribuyan a la biodiversidad y al cambio climático."
      titleStyles="text-white"
      textStyles="text-white"
    />
  </div>

  <!--Badges -->
  <div class="flex flex-col xlg:gap-6 gap-8">
    <h2
      class="text-center xlg:text-start xxl:text-start text-white text-2xl font-extrabold font-['Manrope'] tracking-[4.08px]"
    >
      VALORES
    </h2>
    <div class="flex flex-wrap justify-center gap-6 items-center">
      {badges.map((label) => <Badge label={label} />)}
    </div>
  </div>
</section>

<!-- Carrusel -->
<section>
  <div class="relative overflow-hidden">
    <Carrusel />
  </div>
</section>