---
import Carrusel from "../Carrusel.astro";
import Button from "../Button.astro";
import Badge from "../Badge.astro";
import TextCard from "../textCard.astro";

import DesktopImg from "../../assets/Desktop-img/desktop-sobrenosotros.png";
---

<!-- Seccion principal del about -->
<section
  id="about"
  class="px-5 py-10 flex-col justify-center items-center gap-8 inline-flex
  xlg:px-[90px] xlg:py-14 xlg:flex-col xlg:justify-start xlg:items-start xlg:gap-[30px]
  xxl:px-[140px] xxl:py-20 xxl:flex-col xxl:justify-start xxl:items-start xxl:gap-[50px]"
>
  <!-- Título -->
  <h1
    class="text-center text-[#564376] text-[64px] font-normal font-bebas tracking-[10.24px]
    xxl:self-stretch xxl:text-secondary xxl:text-8xl xxl:tracking-[15.36px]
    xxl:text-left xxl:text-[80px] xxl:font-semibold xxl:mb-10"
  >
    SOBRE NOSOTROS
  </h1>

  <div
    class="self-stretch flex-col justify-center items-start gap-8 flex
    xxl:self-stretch xxl:gap-8 xxl:inline-flex
    xxl:flex-row xxl:justify-start xxl:items-center xlg:flex-row"
  >
    <!-- img -->
    <div class="grow shrink basis-auto xlg:w-[80%] xxl:w-[50%]">
      <img
        src={DesktopImg.src}
        class="h-[300px] sm:h-[522px] rounded-[10px] xxl:h-[522px] xlg:h-[320px] w-full"
        alt="Sobre Nosotros"
      />
    </div>
    <div
      class="self-stretch flex-col justify-center items-center gap-8 flex xlg:flex-col xlg:items-start
      xxl:items-start xxl:w-[50%]"
    >
      <h2
        class="text-center text-[#929f36] text-2xl font-extrabold font-['Manrope'] uppercase tracking-[4.08px]
        xxl:text-left xxl:text-3xl xxl:font-extrabold xxl:tracking-[6px]"
      >
        ¿Por qué elegirnos?
      </h2>

      <p
        class="text-center text-[#6e6e6e] text-base font-medium font-['Manrope'] leading-10
        xlg:text-left xlg:text-lg xlg:leading-8
        xxl:text-left xxl:text-lg xxl:leading-8"
      >
        Hoy en día los espacios verdes cumplen múltiples funciones,
        convirtiéndose en espacios de distensión, encuentro y conexión.
        Disfrutar de un espacio verde bien diseñado y mantenido es indispensable
        para sentirnos más plenos. No hay espacio que no pueda integrarse a la
        naturaleza. <br />
        En <span class="font-bold">VERBENAS</span> te brindamos la posibilidad de
        darle vida a nuevos espacios verdes, generando un espacio estético, sostenible
        y disfrutable durante todo el año, haciendo de tu espacio un lugar único,
        a la altura de tus pretensiones y necesidades.
      </p>
      <Button />
    </div>
  </div>
</section>

<!-- Vision y Mision -->
<section
  class="px-5 py-10 bg-primary flex-col justify-start items-start gap-8 inline-flex overflow-hidden
xlg:px-[90px] xlg:py-14 xlg:flex-col xlg:justify-start xlg:items-start xlg:gap-8 xlg:inline-flex xlg:overflow-hidden
xxl:px-[140px] xxl:py-20 xxl:flex-col xxl:justify-start xxl:items-start xxl:gap-8 xxl:inline-flex xxl:overflow-hidden"
>
  <!-- Contenedor misión/visión-->
  <div class=" text-center  xlg:flex xlg:gap-8 xxl:flex xxl:gap-8 xlg:text-start xxl:text-start">
    <!-- Misión -->
    <TextCard
      title="MISIÓN"
      text="Ofrecer un servicio exclusivo que permita cumplir las necesidades de los clientes y reflejar las cualidades propias de los espacios. Generando valor para el cliente, algo que conseguimos gracias a la calidad<br/>y excelencia de nuestros servicios. Poniendo a su disposición nuestro equipo técnico y profesional rigurosamente seleccionado, formado y especializado."
      titleStyles="text-white"
      textStyles="text-white"
    />
    <!-- Visión -->
    <TextCard
      title="VISIÓN"
      text="Ser líder en la prestación de servicios integrales de jardinería para favorecer y mejorar las condiciones de vida de cada lugar. Contribuir al desarrollo sustentable de las ciudades, recuperando y generando áreas verdes habitables y estéticas que contribuyan a la biodiversidad y al cambio climático."
      titleStyles="text-white"
      textStyles="text-white"
    />
  </div>

  <!--Badges -->
  <div class="flex flex-col gap-8">
    <h2
      class="text-center xlg:text-start xxl:text-start text-white text-2xl font-extrabold font-['Manrope'] tracking-[4.08px]"
    >
      VALORES
    </h2>
    <div class="flex flex-wrap justify-center gap-6 items-center">
      <Badge label="Cercanía" />
      <Badge label="Profesionalismo" />
      <Badge label="Responsabilidad social empresaria" />
      <Badge label="Desarrollo Sustentable" />
      <Badge label="Adaptabilidad" />
      <Badge label="Orientación al cliente" />
      <Badge label="Integridad" />
    </div>
  </div>
</section>

<!-- Carrusel -->
<section>
  <div class="relative overflow-hidden">
    <Carrusel />
  </div>
</section>
