---
import bannerMobile from "../../assets/Mobile-img/banner-mobile.png";
import bannerDesktop from "../../assets/Desktop-img/banner-DESKTOP.jpg";

import TextCard from "../textCard.astro";
---

<section
    id="imprint"
    class="grid grid-cols-1 px-5 py-10 text-center xxl:grid-cols-2 gap-[30px] bg-primary xxl:px-[140px] xxl:py-20 xxl:text-start
    xlg:grid-cols-2 xlg:px-[80px] xlg:py-14 xlg:text-start"
>
    <h2
        class="col-span-full self-stretch text-white text-[64px] font-normal font-bebas tracking-[10.24px]
       xxl:text-8xl xxl:tracking-[15.36px] xlg:text-6xl xlg:tracking-[12.36px]"
    >
        IMPRONTA
    </h2>
    <TextCard
        title="RIEGO"
        text="El agua es un recurso cada vez más escaso, debemos tener en cuenta todos los medios para no malgastarla y hacer un uso más sostenible y eficiente de este recurso clave. Instalamos sistemas de riego automático en parques, jardines y casas. Utilizamos sistemas de aspersión, difusión y goteo según la necesidad del terreno a cubrir evitando derroches y optimizando el mantenimiento. Para que el riego de tu jardín y tus plantas sean controlados y programados, manteniéndolos siempre en su mejor condición, con el menor costo de consumo."
        titleStyles="text-secondary"
        textStyles="text-white"
        titleSize="text-2xl"
    />
    <TextCard
        title="CONTROL DE PLAGAS"
        text="Un jardín ecológico y comprometido con el medio ambiente es aquel que mantiene la biodiversidad del espacio en el que está. Cada región tiene los polinizadores que le son propios (mariposas , colibríes y abejas ). Estamos comprometidos con aquellos jardines bellos que mantienen la identidad nativa. Las plantas autóctonas o nativas, no sólo nos ahorran agua de riego, sino también sostienen el ecosistema y reducen trabajo de cuidado y mantenimiento. Pensamos y diseñamos jardines con plantas amables para el ecosistema, para que los colibríes y mariposas sean parte de nuestro jardín y alimenten todos nuestros sentidos."
        titleStyles="text-secondary"
        textStyles="text-white"
        titleSize="text-2xl"
    />
</section>

<!-- banner separacion -->
<div class="w-full">
    <picture>
        <source srcset={bannerMobile.src} media="(max-width: 500px)" />
        <source srcset={bannerDesktop.src} media="(min-width: 501px)" />
        <img
            src={bannerDesktop.src}
            class="w-full h-[400px] object-cover"
            alt="Banner"
        />
    </picture>
</div>

<section
    class="grid grid-cols-1 px-5 py-10 text-center
    xlg:text-start xlg:grid-cols-2 xlg:px-[80px]
    xxl:text-start xxl:grid-cols-2 xxl:px-[140px] gap-[30px]"
>
    <div class="flex flex-col">
        <TextCard
            title="ESTACIONALIDAD"
            text="Tener un jardín , es querer disfrutarlo todo el año. La estacionalidad de los componentes y plantas es fundamental para tener un jardín estético y disfrutable todo el año. Un jardín bien diseñado, se trasforma luego del verano en un espacio cubierto de texturas , colores y variaciones de formas.En VERBENAS pensamos para que los jardines de otoño y de invierno, sean lugares de relax y generen una serenidad visual tan disfrutable como es ver la salida de los primeros brotes."
            titleStyles="text-primary"
            textStyles="text-mutedText"
        />
    </div>

    <div class="flex flex-col">
        <TextCard
            title="INCIDENCIA SOLAR"
            text="Uno de los mayores esfuerzos y costos de mantenimiento del jardín, lo genera la exposición al sol, tanto para el mantenimiento del césped como para la elección de plantas. En VERBENAS pensamos en tu jardín teniendo en cuenta el clima y la proyección de sol y de sombra. Un jardín bien diseñado,evita esfuerzos y costos de mantenimiento, Presentando diseños atractivos y bien adaptados en base de esquemas de plantación simples, generando sombras a través de la plantación de árboles o especies arbustivas y pensando los espacios.Actualmente se encuentra a la vanguardia la xerojardinería, donde se trabaja con follaje nativo adaptado al clima del lugar, que ecológicamente reduce consumos innecesarios y mantiene la belleza autóctona. Utilizando recursos que se encuentran a nuestro alcance y mucha creatividad, podemos generar que tu jardín, sea atractivo jardín las 24 hs."
            titleStyles="text-primary"
            textStyles="text-mutedText"
        />
    </div>
</section>

<section
    class="grid grid-cols-1 px-5 py-10 text-center xxl:grid-cols-2 xxl:px-[140px] gap-[30px] bg-primary
    xlg:grid-cols-2 xlg:px-[100px]"
>

    <div class="flex flex-col xxl:text-start xlg:text-start gap-8">
        <TextCard
            title="VANGUARDIA"
            text="Buscamos la estética ideal para tu espacio comercial o particular, a través de productos y diseños innovadores que se ajusten a tu negocio o requerimiento. Logrando un ambiente relajado y lleno de vida. Las plantas contribuyen de manera importante al espacio interior, a través de la producción de oxígeno, la purificación del aire, y un efecto positivo para quienes las disfrutan."
            titleStyles="text-secondary"
            textStyles="text-white"
            titleSize="text-2xl"
            textSize="text-[17px]"
        />
    </div>

    <div class="flex flex-col xxl:text-start xlg:text-start gap-8">
        <TextCard
            title="BIODIVERSIDAD"
            text="Prestamos especial atención a reducir la posibilidad de infección de cada una de las especies. En VERBENAS realizamos fumigaciones preventivas y de mantenimiento. Usamos productos de primera calidad para obtener los mejores resultados sanitarios para tus plantas y jardines."
            titleStyles="text-secondary"
            textStyles="text-white"
            titleSize="text-2xl"
            textSize="text-[17px]"
        />
    </div>
</section>

<div class="bg-white py-[30px]"></div>
