---
import TextCard from "../textCard.astro";
import { textCards } from "../../mocks/textData";

import bannerMobile from "../../assets/Mobile-img/banner-mobile.png";
import bannerDesktop from "../../assets/Desktop-img/banner-DESKTOP.jpg";
---

<!-- seccion principar de impronta -->
<section
    id="imprint"
    class="grid grid-cols-1 px-5 py-10 text-center xxl:grid-cols-2 gap-[30px] bg-primary xxl:px-[140px] xxl:py-20 xxl:text-start
    xlg:grid-cols-2 xlg:px-[80px] xlg:py-14 xlg:text-start"
>
    <h1
        class="col-span-full self-stretch text-white text-[64px] font-normal font-bebas tracking-[10.24px]
       xxl:text-8xl xxl:tracking-[15.36px] xlg:text-6xl xlg:tracking-[12.36px]"
    >
        IMPRONTA
    </h1>

    {textCards.slice(0, 2).map((card) => (
        <TextCard {...card} />
    ))}
</section>

<!-- banner separacion -->
<div >
    <picture>
        <source srcset={bannerMobile.src} media="(max-width: 500px)" />
        <source srcset={bannerDesktop.src} media="(min-width: 501px)" />
        <img
            src={bannerDesktop.src}
            class="w-full h-[400px] "
            alt="Banner"
        />
    </picture>
</div>

<!-- Estacionalidad/incidencia -->
<section
    class="grid grid-cols-1 px-5 py-10 text-center
    xlg:text-start xlg:grid-cols-2 xlg:px-[80px]
    xxl:text-start xxl:grid-cols-2 xxl:px-[140px] gap-[30px]"
>
    {textCards.slice(2, 4).map((card) => (
        <div class="flex flex-col">
            <TextCard {...card} />
        </div>
    ))}
</section>

<!-- Banguardia/Biodiversidad -->
<section
    class="grid grid-cols-1 px-5 py-10 text-center xxl:grid-cols-2 xxl:px-[140px] gap-[30px] bg-primary
    xlg:grid-cols-2 xlg:px-[100px]"
>
    {textCards.slice(4).map((card) => (
        <div class="flex flex-col xxl:text-start xlg:text-start gap-8">
            <TextCard {...card} />
        </div>
    ))}
</section>

<div class="bg-white py-[30px]"></div>
