---
const { label, bgColor = "#FFFFFF", textColor = "#564376" } = Astro.props;
---

<div
  class="justify-center items-center gap-6 inline-flex
  p-3 bg-white rounded-[23px]
   xlg:h-16 xlg:px-8 xlg:py-3 xlg:rounded-[23px] xlg:justify-center
 xlg:items-center xlg:inline-flex xlg:text-base xlg:font-semibold  xlg:leading-10
 xxl:h-16 xxl:px-8 xxl:py-3 xxl:rounded-[23px] md:justify-center
 xxl:items-center xxl:inline-flex xxl:text-base xxl:font-semibold  xxl:leading-10"
  style={`background-color: ${bgColor}; color: ${textColor};`}
>
  <span>{label}</span>
</div>
