---
const { label, bgColor = "#FFFFFF", textColor = "#564376" } = Astro.props;
---

<div 
  class="justify-center items-center gap-6 inline-flex 
  p-3 bg-white rounded-[23px] 
 xxl:h-16 md:px-8 md:py-3 md:rounded-[23px] md:justify-center 
 xxl:items-center xxl:inline-flex xxl:text-base xxl:font-semibold xxl:font-['Manrope'] xxl:leading-10
" 
  style={`background-color: ${bgColor}; color: ${textColor};`}
>
  <span>{label}</span>
</div>
